@use '../../../styles/scss/App.module.scss' as App;
@use '../../../styles/scss/SpreadLayoutDefinitions.module.scss' as Definitions;

.spread-root-container {
  @include App.flex-box-center(column);
  width: auto;
  height: auto;
  margin: auto;
}

.card-three-speed {
  @include Definitions.card-three-spread-style();
}

.flip {
  @include Definitions.flip();
}

.flip-click {
  @include Definitions.flip-click();
}

.front {
  @include Definitions.front();
}

.front-reversed {
  @include Definitions.front-reversed();
}

.back {
  @include Definitions.back();
}
